@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

#root {
  font-family: "Poppins", sans-serif;
}

.app {
 
  margin: 0 auto;
  padding: 20px;
  overflow-y: hidden;


}

.content{
  display: flex;
  flex-direction: row;
  gap:10vw;
  padding: 20px;
}


h1{
  text-align: center;
  justify-content: center;
  font-size: 44px;
 
}



/* .user-list-container {
  overflow-y: auto;
  max-height: 600px;
  flex:1;
}  */








.user-details-container {
  position: sticky;
  top: 20px;
}


.loader, .error {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}

.userDetailsHeading {
  font-size: 32px;
}



/* .app {
  padding: 20px;
}



.user-container {
  display: flex;
} */
